.grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: 350px auto;
    gap: 2rem;
}

.grid h2, p {
    padding: 0 1.5rem;
}
.odd {
    background-color: #570055;
}

.odd-inner {
    background-color: #003045;
}

.even {
    background-color: #00131b;
}

.even-inner {
    background-color: #81007f6f;
}
.action {
    display: flex;
    justify-content: end;
}
.action img {
    height: 30px;
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #ff71fd;;
}
.action img:hover {
    background-color: #2ffff5;
}