body {
    /* background-color: rgb(16, 1, 17); */
    background-color: aqua;
    font-family: sans-serif;
}

h1 {
    margin: 1rem auto;
    font-size: 2.5rem;
}

h1, h2 {
    /* color: rgb(255, 242, 3); */
    color: black;
    text-align: center;
}
canvas {
    display: block;
    margin: 2rem auto;
}