body {
    background-color: rgb(19, 42, 19);
    font-family: sans-serif;
    text-align: center;
    color: rgb(236, 243, 158);
    margin: 1rem auto;
}

h1 {
    margin: 1rem auto;
    font-size: 2.5rem;
}

h1, h2 {
    color: rgb(236, 243, 158);
    text-align: center;
}
canvas {
    display: block;
    margin: 2rem auto;
}