@font-face {
    font-family: ElmsSans-Medium;
    src: url(./fonts/ElmsSans-Medium.ttf);
}
@font-face {
    font-family: ElmsSans-SemiBold;
    src: url(./fonts/ElmsSans-SemiBold.ttf);
}

:root {
  /*Fonts*/
  --font-medium: ElmsSans-Medium;
  --font-semibold: ElmsSans-SemiBold;

  /*Colors*/
    --blackish: #0b0b0b;
    --dark-grey: #242a2d;
    --light-grey: #b7c1ce;
    --whiteish: #effdff;
    --pepperred: #ed2024;
    --brickred: #690c0d;
}

#root {
  max-width: 1700px;
  margin: 0 auto;
  text-align: left;
}
body {
  background-color: var(--dark-grey);
  /* background-image: url(./assets/YarnPattern.png); */
  color: var(--whiteish);
  padding: 2rem;
}

h1 {
  font-family: var(--font-semibold), Avenir, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  align-items: center;
  max-width: fit-content;
}

h2 {
  font-family: var(--font-medium), Avenir, sans-serif;
  font-size: 2rem;
}

img {
  max-width: 300px;
}
.page {
  margin: 0 auto;
}
.expensive {
    color: var(--pepperred);
    font-style: italic;
}
.dark-background {
  background-color: var(--blackish);
  padding: 0.5rem 0.7rem;
  border-radius: 15px;
  margin: 1rem auto;
}
.collection {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

/*reset button styles*/
.reset {
  font-size: 1.25rem;
  background-color: var(--brickred);
  color: var(--whiteish);
  border: 2px solid var(--pepperred);
  padding: 0.5rem 0.75rem;
  border-radius: 7px;
  cursor: pointer;
  display: block;
}
.reset:hover {
  background-color: var(--brickred);
  border: 2px solid var(--pepperred);
  box-shadow: 0px 0px 3px 5px var(--pepperred);
}
.reset-block {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin: 0;
}
.reset-block p {
  margin: 0;
  padding: 0 0.7rem 0 0;
}