h2 a {
    color: #ff71fd;
    text-decoration: none;
}
h2 a:hover {
    font-style: italic;
    color: aquamarine;
}

/*styles for the list of yarns*/
.grid { 
    padding: 2rem;
    display: grid;
    grid-template-columns: 350px auto;
    gap: 2rem;
}
.grid h2, .grid h3, .grid p {
    padding: 0 1.5rem;
}
h3 {
    color: #2ffff5;
}
.odd {
    background-color: #570055;
}

.odd-inner {
    background-color: #003045;
}

.even {
    background-color: #00131b;
}

.even-inner {
    background-color: #81007f6f;
}

.cost {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

/*creating a bar of color to visually indicate the yarn size */
.yarn-size {
    background-color: #2ffff5;
}
.one {
    height: 2px;
    margin: 0 1.5rem;
}
.two {
    height: 4px;
    margin: 0 1.5rem;
}
.three {
    height: 6px;
    margin: 0 1.5rem;
}
.four {
    height: 8px;
    margin: 0 1.5rem;
}
.five {
    height: 10px;
    margin: 0 1.5rem;
}

/*button styles*/
.action {
    display: flex;
    justify-content: end;
}
.action img {
    height: 30px;
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #ff71fd;;
}
.action img:hover {
    background-color: #2ffff5;
}