/* Color Variables */
:root {
    --blackish: #0b0b0b;
    --dark-grey: #242a2d;
    --light-grey: #b7c1ce;
    --whiteish: #effdff;
    --pepperred: #ed2024;
    --brickred: #690c0d;
}
h2 {
    text-align: center;
    max-width: 300px;
}
h2 a {
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 2.2rem;
}
h2 a:hover {
    font-style: italic;
    color: aquamarine;
}

/*styles for the list of yarns*/
.flex { 
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
h3 {
    color: var(--light-grey);
}
.odd, .even {
    max-width: fit-content;
    margin: 0 auto;
    background-color: var(--whiteish);
    box-shadow: 8px 8px 8px 8px var(--blackish);
}

.cost {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

/*button styles*/
.action {
    display: flex;
    justify-content: center;
}
.action img {
    height: 30px;
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: var(--pepperred);
}
.action img:hover {
    background-color: var(--light-grey);
}