@font-face {
    font-family: ElmsSans-MediumItalic;
    src: url(./fonts/ElmsSans-MediumItalic.ttf);
}

:root {
    /* Color Variables */
    --blackish: #0b0b0b;
    --dark-grey: #242a2d;
    --light-grey: #b7c1ce;
    --whiteish: #effdff;
    --pepperred: #ed2024;
    --brickred: #690c0d;
    /* Fonts */
    --font-semibolditalic: ElmsSans-MediumItalic;

}
h2 {
    max-width: 300px;
    margin: 0.4rem;
}
h2 a {
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 2.2rem;
}
h2 a:hover {
    font-family: var(--font-mediumitalic);
    color: var(--brickred);
}

/*styles for the list of recipes*/
.flex { 
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
h3 {
    color: var(--light-grey);
}
.polaroid {
    max-width: fit-content;
    margin: 0 auto;
    background-color: var(--whiteish);
    box-shadow: 6px 6px 6px 4px var(--blackish);
}
.polaroid h2 {
    text-align: center;
}

/*button styles*/
.action {
    display: flex;
    justify-content: center;
}
.action img {
    height: 30px;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: var(--light-grey);
}
.action img:hover {
    background-color: var(--pepperred);
}