body {
    background-color: rgb(16, 1, 17);
    font-family: sans-serif;
}

h1 {
    margin: 1rem auto;
    font-size: 2.5rem;
}

h1, h2 {
    color: rgb(255, 183, 3);
    text-align: center;
}
canvas {
    display: block;
    margin: 2rem auto;
    border-radius: 25px;
    background-color: bisque;
}