.error {
    color: #ff1b8d;
    font-weight: bold;
    letter-spacing: 5%;
}
.h1-form {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 2rem;
}
.form-area {
    max-width: 1000px;
    margin: 1rem auto 0;
}
.form-group {
    margin: 0.7rem 0;
}
.form-group p {
    font-size: 1.5rem;
    margin-bottom: 0;
}
label {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}
.input--number {
    max-width: 3rem;
}
textarea {
    display: block;
    min-width: 15rem;
}
.grid-form {
    display: grid;
    grid-template-columns: auto auto;
    align-content: start;
}
.row-span {
    grid-row: span 2;
}

/*styles specific to the radio buttons, can also be used for checkboxes*/
.radio-area, .flex {
    display: flex;
    justify-content: space-between;
    max-width: 45rem;
}
.radio-area--smaller {
    max-width: 28rem;
}
.radio-area label {
    margin-right: 0;
}

/*button styles*/
.button {
    font-size: 1.5rem;
    font-family: var(--font-semibold);
    background-color: var(--pepperred);
    color: var(--whiteish);
    border: 2px solid var(--brickred);
    padding: 0.5rem 0.75rem;
    border-radius: 7px;
    cursor: pointer;
    display: block;
}
.button:hover {
    box-shadow: 0px 0px 3px 5px var(--pepperred);
    }
/*reset button styles*/
.button--reset {
  font-size: 1.25rem;
  font-family: var(--font-medium), sans-serif;
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
}
.button--reset:hover {
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
  box-shadow: 0px 0px 3px 5px var(--pepperred);
}
/* .form-buttons button {
    display: inline-block;
    margin-right: 1rem;
} */