.error {
    color: #ff1b8d;
    font-weight: bold;
    letter-spacing: 5%;
}
.h1-form {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 2rem;
}
.form-area {
    max-width: 1200px;
    margin: 1rem auto 0;
    padding: 0 1rem;  
    
}
.form-group {
    margin: 0.7rem 0;
}
.form-group--grid {
    display: grid;
    grid-template-columns: auto auto;
}
.form-group p {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.form-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
label {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}
.input--number {
    max-width: 3rem;
}
textarea {
    display: block;
    min-width: 15rem;
}
 
@media screen and (min-width: 1100px) {
    .form-group--grid {
    display: grid;
    grid-template-columns: auto auto;
    align-content: start; 
    }
}
@media screen and (max-width: 1099px) {
    .form-group--grid {
    display: grid;
    grid-template-columns: auto;
    align-content: start;  
    }
}
.row-span {
    grid-row: span 2;
}

input, textarea {
    min-width: 20rem;
}
.textarea-block {
    display: flex;
    align-items: flex-end;
}
/*button styles*/
.button {
    font-size: 1.5rem;
    font-family: var(--font-semibold);
    background-color: var(--pepperred);
    color: var(--whiteish);
    border: 2px solid var(--brickred);
    padding: 0.5rem 0.75rem;
    border-radius: 7px;
    cursor: pointer;
    display: block;
}
.button:hover {
    box-shadow: 0px 0px 3px 5px var(--pepperred);
}
/*reset button styles*/
.button--reset {
  font-size: 1.25rem;
  font-family: var(--font-medium), sans-serif;
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
}
.button--reset:hover {
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
  box-shadow: 0px 0px 3px 5px var(--pepperred);
}
/* append buttons */
.button--append {
  font-size: 1rem;
  font-family: var(--font-medium), sans-serif;
  border: 2px solid var(--blackish);
  margin: 0.5rem 0 0.3rem 0.3rem;
  padding: 0.3rem 0.5rem;
  display: inline-block;
}
.button--append:hover {
  border: 2px solid var(--blackish);
  box-shadow: 0px 0px 3px 5px var(--pepperred);
}
/* remove buttons */
.button--remove {
  font-size: 1rem;
  font-family: var(--font-medium), sans-serif;
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
  margin: 0 0 0.3rem 0.3rem;
  padding: 0.3rem 0.5rem;
  display: inline-block;
}
.button--remove:hover {
  background-color: var(--brickred);
  border: 2px solid var(--blackish);
  box-shadow: 0px 0px 3px 5px var(--pepperred);
}