/* Color Variables */
:root {
    --blackish: #0b0b0b;
    --dark-grey: #242a2d;
    --light-grey: #b7c1ce;
    --whiteish: #effdff;
    --pepperred: #ed2024;
    --brickred: #690c0d;
}

/* changing the display of the recipe width based on screen width */
@media screen and (min-width: 1000px) {
    .container {
        padding: 0.5rem 0.7rem;
        margin: 1rem auto;
        max-width: 1000px;
    }
}
@media screen and (max-width: 999px) {
    .container {
        padding: 0.5rem 0.7rem;
        margin: 1rem auto;
        max-width: 700px;
    }
}

h1 {
    color: var(--whiteish);
}
h2{
    text-align: left;
}
img {
    max-width: 20rem;
    max-height: fit-content;
    margin-top: 1.25rem;
    border: 10px solid var(--whiteish);
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}
ol {
    padding: 1rem;
}
li {
    margin-bottom: 0.25rem;
}

/* Other Page/View Styles */
.back-link {
    display: inline-block;
    margin: 0 0 1rem 2rem;
}
a {
    font-size: 1.5rem;
    color: var(--light-grey);
    text-decoration: none;
}
a:hover {
    font-style: italic;
    color: var(--pepperred);
}
/* changing how the ingredients and image are displayed based on screen size */
@media screen and (min-width: 750px) {
    .top-block {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 749px) {
    .top-block {
        display: flex;
        flex-direction: column-reverse;
    }
    .top-block img {
        align-self: center;
    }
    .container {
        padding: 0.5rem 0.7rem;
        margin: 1rem auto;
        max-width: 500px;
    }
}

.recipe-error {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    max-width: fit-content;
    margin: 2rem auto;
    border-radius: 10px;
}