/* Color Variables */
:root {
    --blackish: #0b0b0b;
    --dark-grey: #242a2d;
    --light-grey: #b7c1ce;
    --whiteish: #effdff;
    --pepperred: #ed2024;
    --brickred: #690c0d;
}

.container {
    padding: 0.5rem 0.7rem;
    margin: 1rem auto;
    max-width: 1000px;
}
h1 {
    color: var(--whiteish);
}
h2{
    text-align: left;
}
img {
    max-width: 20rem;
    max-height: fit-content;
    margin-top: 1.25rem;
    border: 10px solid var(--whiteish);
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}
ol {
    padding: 1rem;
}
li {
    margin-bottom: 0.25rem;
}

/* Other Page/View Styles */
a {
    font-size: 1.5rem;
    color: var(--light-grey);
    text-decoration: none;
}
a:hover {
    font-style: italic;
    color: var(--pepperred);
}
.top-block {
    display: flex;
    justify-content: space-between;
}
.yarn-error {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--dark-grey);
    max-width: fit-content;
    margin: 2rem auto;
    border-radius: 10px;
}